.card-header,
.card-body {
  margin: auto;
  height: 180px;
  display: inline-block;
}

img {
  position: realative;
  left: 0px;
  top: 0px;
  z-index: -1;
}
h2,
.card-title {
  color: rgba(1, 37, 1, 0.914);
  text-indent: 50px;
  letter-spacing: 4px;
  line-height: 1.8;
  word-spacing: 10px;
  font-weight: bold;
}
p,
.card-text {
  color: rgba(45, 47, 45, 0.687);
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 0.1;
  word-spacing: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: italic;
  font-size: 25px;
}
.btn {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;

  position: relative;
}

.ribbon {
  width: 150px;
  font-size: 30px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #ff9800;
  color: white;
}
.card-footer {
  position: sticky;
  margin: auto;
  height: 100px;
  text-indent: 80px;
}
.nav li {
  display: inline-block;
  font-size: 25px;
  padding: 35px 35px;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
}
.up,
p {
  display: inline-block;
  font-size: 25px;
  color: black;
}
.median,
p {
  display: inline-block;
  font-size: 25px;
  color: black;
}
.placementRate {
  font-size: 18px;
  letter-spacing: 2px;
}
.review {
  text-align: left;
  margin: auto;
  font-size: 18px;
}
